body {
  background-color : #f9f9f9;
  padding-top: 1em;
}
  body > .grid {
    height : 100%;
    margin : 0 auto !important;
  }

.ui.header {
	text-align: center;
	font-size: 3em !important;
}
.image {
  margin-top : -100px;
}
.ui.container {
  max-width : 500px !important;
}


.ui.huge.header {
	min-height : 1em;
	font-size  : 4em;
}

body.gt-download .button {
	margin: 0.5em;
}

.ui.footer {
	display: block !important;
    margin: 1rem 0 !important;
    border-top: 1px solid rgba(34,36,38,.15);
}
.ui.footer .item {
	padding-top: 1em !important;
}
